#ideRighterPartOfMiddlePart {
    overflow: hidden;
}

.ide-tabs {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.ide-tabs .tab-body {
    padding: 12px;
    font-size: 0.8em;
}
.ide-tabs .tab-body h1 {
    font-size: 20px;
}
.ide-tabs .tab-body h2 {
    font-size: 16px;
}
.ide-tabs .tab-body h3 {
    font-size: 13px;
}
.ide-tabs .tab-body h4 {
    font-size: 11px;
}
.ide-tabs .tab-body h1,
.ide-tabs .tab-body h2,
.ide-tabs .tab-body h3,
.ide-tabs .tab-body h4 {
    margin-top: 14px;
    margin-bottom: 6px;
}

.ide-tabs .tab-body pre {
    font-size: 11px;
    line-height: 1.2;
}

/* - - - Chat - - - */
.chat-horizontal-line {
    border-top: 2px solid #ddd;
}

.chat {
    width: 100%;
    box-sizing: border-box;
    list-style: none;
}

.chat-line {
    position: relative;
    clear: both;
}

.chat-line .chat-line-avatar {
    width: 70px;
}
.chat-line .chat-message {
    width: 75%; /* fallback */
    width: calc(100% - 140px); /* double the width of the .chat-line-avatar */
}

.chat-line-posted-at {
    color: #ccc;
    margin-bottom: 4px;
}

.chat-line.right .chat-line-avatar {
    float: right;
    text-align: right;
}

.chat-line-item,
.chat-line-card {
    border-radius: 5px;
    padding: 15px;
    box-shadow: 1px 1px 6px #4487;
    -webkit-box-shadow: 0px 1px 4px #4487;
    width: 85%;
    position: relative;
    box-sizing: border-box;
}

.highlight {
    box-shadow: 0px 0px 10px 2px green;
    -webkit-box-shadow: 0px 0px 5px 2px green;
}

.gray-out-compiler-chatbox {
    opacity: 0.6;
    filter: grayscale(100%);
}

.chat-line-error {
    border-radius: 5px;
    padding: 15px;
    box-shadow: 1px 1px 6px red;
    -webkit-box-shadow: 0px 1px 10px red;
    width: 85%;
    position: relative;
    box-sizing: border-box;
}

.highlight-error {
    box-shadow: 0px 0px 10px 3px red;
    -webkit-box-shadow: 0px 0px 10px 3px red;
}

.chat-line.left .chat-line-error {
    background: #f1f5f9;
}
.chat-line.right .chat-line-error {
    background: #f1f5f9;
    float: right;
}
.chat-line.left .chat-line-item,
.chat-line.left .chat-line-card {
    background: #f1f5f9;
}
.chat-line.right .chat-line-item,
.chat-line.right .chat-line-card {
    background: #f2f2f2;
    float: right;
}
.chat-line.left .chat-line-item:before,
.chat-line.right .chat-line-item:after,
.chat-line.left .chat-line-error:before,
.chat-line.right .chat-line-error:after,
.chat-line.left .chat-line-card:before,
.chat-line.right .chat-line-card:after {
    width: 0;
    height: 0;
    content: '';
    top: 0;
    position: absolute;
    border-style: solid;
}
.chat-line.left .chat-line-item:before,
.chat-line.left .chat-line-card:before {
    left: -10px;
    border-width: 0 13px 13px 0;
    border-color: transparent #f1f5f9 transparent transparent;
}
.chat-line.left .chat-line-error:before {
    left: -10px;
    border-width: 0 13px 13px 0;
    border-color: transparent #f1f5f9 transparent transparent;
}
.chat-line.right .chat-line-error:after {
    right: -10px;
    border-width: 13px 13px 0 0;
    border-color: #f2f2f2 transparent transparent transparent;
}
.chat-line.right .chat-line-item:after,
.chat-line.right .chat-line-card:after {
    right: -10px;
    border-width: 13px 13px 0 0;
    border-color: #f2f2f2 transparent transparent transparent;
}

.chat-line-item .text {
    border: 0;
    color: #333;
    font-size: 0.85em;
    font-weight: 500;
}

/* Card Header */
.chat-line-card {
    padding: 0;
}
.chat-line-card .card-header {
    display: flex;
    align-items: center;
    white-space: pre;
    padding: 10px 20px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.1em;
    background: #b6b6b6;
    border-color: #b6b6b6;
}
.chat-line.left .chat-line-card .card-header {
    border-top-right-radius: 5px;
}
.chat-line.right .chat-line-card .card-header {
    border-top-left-radius: 5px;
}
.chat-line.right .chat-line-card:after {
    border-top-color: #b6b6b6;
}
.chat-line.left .chat-line-card:before {
    border-right-color: #b6b6b6;
}
.chat-line-card .card-header a {
    font-weight: 900;
    color: rgba(255, 255, 255, 0.9);
}
.chat-line-card .card-body {
    padding: 15px;
}

/** Card Icons **/
.chat-line .chat-line-card .card-header:before {
    content: '';
    font-family: 'Glyphicons Halflings', serif;
    display: inline-block;
    width: 36px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
}

/* Card Help */
.chat-line .chat-line-card.help .card-header {
    border-bottom: 1px solid #94b397;
    background-color: #009788;
}
.chat-line.right .chat-line-card.help:after {
    border-top-color: #009788 !important;
}
.chat-line.left .chat-line-card.help:before {
    border-right-color: #009788 !important;
}
.chat-line .chat-line-card.help .card-header:before {
    content: '\e085';
}

/* Card Tip */
.chat-line-card.tip .card-header {
    border-bottom: 1px solid #ea4d1b;
    background-color: #fe5722;
}
.chat-line-card.tip .card-header:before {
    content: '\e086';
}
.chat-line.right .chat-line-card.tip:after {
    border-top-color: #fe5722 !important;
}
.chat-line.left .chat-line-card.tip:before {
    border-right-color: #fe5722 !important;
}

/* Card Submission */
.chat-line-card.submission .card-header {
    border-bottom: 1px solid #ea4d1b;
    background-color: #fe5722;
}
.chat-line-card.submission .card-header:before {
    content: '\e233';
}
.chat-line.right.chat-line-card.submission:after {
    border-top-color: #fe5722 !important;
}
.chat-line.left .chat-line-card.submission:before {
    border-right-color: #fe5722 !important;
}

/* Card Error */
.chat-line-card.error .card-header {
    border-bottom: 1px solid #b44238;
    background-color: #e44c42;
}
.chat-line-card.error .card-header:before {
    content: '\e083';
}
.chat-line.right .chat-line-card.error:after {
    border-top-color: #e44c42 !important;
}
.chat-line.left .chat-line-card.error:before {
    border-right-color: #e44c42 !important;
}

/* Card Compilation Help */
.chat-line-card.compHelp .card-header {
    border-bottom: 1px solid #eea236;
    background-color: #f0ad4e;
}
.chat-line-card.compHelp .card-header:before {
    content: '\e019';
}
.chat-line.right .chat-line-card.compHelp:after {
    border-top-color: #f0ad4e !important;
}
.chat-line.left .chat-line-card.compHelp:before {
    border-right-color: #f0ad4e !important;
}

/** Rating **/
.chat-line-rating {
    border-top: 1px solid #ddd;
}
.chat-line-rating .text-muted {
    color: #aaa;
}
.chat-line-rating .star {
    color: #666;
    text-decoration: none;
}
.chat-line-rating .star.active {
    color: orange;
    text-decoration: none;
}

.sendRequest {
    border-top: 3px solid #ddd;
}

.sendRequest .topic {
    height: 120px;
    border-radius: 5px;
}

/** - - - Chat Line Modal - - - **/
.avatar-modal {
    background: rgba(0, 0, 0, 0.7);
}

.avatar-modal .modal-content {
    background: none;
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
}
.avatar-modal .chat-line .chat-line-avatar {
    width: 100px;
}
.avatar-modal .chat-message {
    margin-top: 40px !important;
}
.avatar-modal .chat-line-card.left {
    margin-left: 20px !important;
}
.avatar-modal .chat-line-card.right {
    margin-right: 20px !important;
}
/* dont wait till ng-hide-animation ends */
.avatar-modal .progress-loading-icon.ng-hide.ng-hide-animate {
    display: none !important;
}

/* Info - Tab */
.button-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 15px;
}

.button-description {
    margin-left: 10px;
}

.info-heading {
    text-align: center;
}
