
.chat {
    width:100%;
    box-sizing: border-box;
    list-style: none;
}

.chat-line {
    position: relative;
    clear: both;
}

.chat-line-posted-at {
    color: #ccc;
    margin-bottom: 4px;
}

.chat-line-item,
.chat-line-card {
    border-radius:5px;
    padding: 15px;
    box-shadow: 1px 1px 6px #4487;
    -webkit-box-shadow: 1px 1px 2px #4487;
    width: 85%;
    position: relative;
}
.chat-line-item.left,
.chat-line-card.left {
    background: #fff;
}
.chat-line-item.right,
.chat-line-card.right {
    background: #e1e6ed;
    float: right;
}
.chat-line-item.left:before,
.chat-line-item.right:after,
.chat-line-card.left:before,
.chat-line-card.right:after {
    width: 0;
    height: 0;
    content: "";
    top:0;
    position: absolute;
    border-style: solid;
}
.chat-line-item.left:before,
.chat-line-card.left:before {
    left: -10px;
    border-width: 0 13px 13px 0;
    border-color: transparent #fff transparent transparent;
}
.chat-line-item.right:after,
.chat-line-card.right:after {
    right: -10px;
    border-width: 13px 13px 0 0;
    border-color: #e1e6ed transparent transparent transparent;
}

.chat-line-item .text {
    border:0;
    color: #333;
    font-size: 0.85em;
    font-weight: 500;
}


/* Card Header */
.chat-line-card {
    padding: 0;
}
.chat-line-card .card-header  {
    display: flex;
    align-items: center;
    white-space: pre;
    padding: 10px 20px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.1em;
}
.chat-line-card.left .card-header {
    border-top-right-radius: 5px;
}
.chat-line-card.right .card-header {
    border-top-left-radius: 5px;
}
.chat-line-card .card-header a {
    font-weight: 900;
    color: rgba(255, 255, 255, 0.9);
}
.chat-line-card .card-body {
    padding: 15px;
}

/* Card Help */
.chat-line-card.help .card-header {
    border-bottom: 1px solid #94b397;
    background-color: #009788;
}
.chat-line-card.help.right:after {
    border-top-color: #009788 !important;
}
.chat-line-card.help.left:before {
    border-right-color: #009788 !important;
}
.chat-line-card.help .card-header:before {
    content:"\e085";
    font-family: "Glyphicons Halflings";
    display: inline-block;
    width: 36px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
}

/* Card Submission */
.chat-line-card.submission .card-header {
    border-bottom: 1px solid #ea4d1b;
    background-color: #fe5722;
}
.chat-line-card.submission .card-header:before {
    content:"\e206";
    font-family: "Glyphicons Halflings";
    display: inline-block;
    width: 36px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
}

.chat-line-card.submission.right:after {
    border-top-color: #fe5722 !important;
}
.chat-line-card.submission.left:before {
    border-right-color: #fe5722 !important;
}


/** - - - Colors - - - */
.chat-line-item.chat-line-avatar {
    background-color: #b7bec3;
    min-height: 24px;
    color: #ffffffde;
}
.chat-line-item.chat-line-avatar.left:before {
    border-right-color: #b7bec3;
    left: -15px;
    top: calc(50% - 12px);
    border-width: 12px 20px 12px 0;
}

/* ChatLine Success */
.chat-line-success.chat-line-avatar {
    background: #66a385;
}
.chat-line-success.chat-line-avatar.left:before {
    border-right-color: #66a385;
}
/* ChatLine Fail */
.chat-line-fail.chat-line-avatar {
    background: #99c1dc;
}
.chat-line-fail.chat-line-avatar.left:before {
    border-right-color: #99c1dc;
}








.chat .send-message {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.chat .send-message input.ask {
    height: 50px;
}
.chat .send-message input.ask::placeholder {
    color: #ddd;
}
.chat .send-message input.ask:focus {
    box-shadow: none !important;
    border-color: #0064a6 !important;
}

.chat .send-message .send {
    height: 50px;
    background: #0064a6 !important;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.chat .send-message .send i {
    font-size: 1.4em;
    color: #ffffffba;
}


.new-conversation .group {
    display: table;
    margin: 0 auto;
}
.new-conversation .item {
    display: table-cell;
}
.new-conversation .text {
    white-space: nowrap;
    width: 1%;
    padding: 0 10px;
}
.new-conversation .line {
    border-bottom: 1px solid rgba(255, 255, 255, 0.23921568627450981);
    position: relative;
    top: -.6em;
}


.chat .chatActions {
    position: absolute;
    right: 54px;
    top: 24px;
    display: none;
}
.chat .chat-line:hover .chatActions {
    display: block;
}

.chat .chat-line-action-button {
    background-color: #fff;
    border-bottom: 0;
    line-height: normal !important;
}