body {
    border-left: 5px solid #0064a6;
    overflow-x: hidden;
}


.ideHeader {
  width: 100%;
  /* height: 54px; /* set the header to the same height as the navbar */
  /*border: 1px solid #a9a9a9;*/
}

.ideHeader .navbar-form {
  margin-top: 13px;
  margin-bottom: 13px;
}

.ideHeader .navbar-form .nav-item {
  margin-left: 5px;
}

#ideTreeViewProjectName {
  /* height: inherit; */
  /*border-top: 1px solid #a9a9a9;*/
  /*border-left: 1px solid #a9a9a9;*/
  /*border-right: 1px solid #a9a9a9;*/
  border-bottom: 1px solid #9f9f9f;
  /* width: 219px; /* must be the same as the tree-view element */
  padding-top: 10px;
  padding-left: 5px;
  color: #777777;
  font-size: 16px;
  /* float: left; */
  height: 29px;
  background-color: #e7e7e7;
  overflow: hidden;
  white-space: nowrap;
}

.ideHeader .projectTitle {
  font-size: 1.2em;
  font-weight: 900;
  color: #5697c2;
  margin: 10px 0;
  padding: 4px 6px;
  border: 1px solid #ccc;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ideHeader .projectTitle span {

}


#ideTabArea {
  overflow-y: auto; /* if we have too many tabs, a scroll bar appears */
  padding: 0;
  height: 30px;
  margin-top: 20px;

}

.dropdown {
  /* want a pointer for all the menus */
  /* we don't get it by default because we don't provide a href in the <a> element */
  cursor: pointer !important;
}

.ideFooter {
  position: absolute;
  height: 204px;
  width: 100%;
  bottom: 0;
  background-color: #e7e7e7;
}

.ideOutput {
  overflow: auto;
  background-color: #222;
  color: #aaa;
  white-space: pre;
  padding: 10px;
  position: absolute;
  top: 3px;
  bottom: 25px;
  left: 3px;
  right: 3px;

}

.ideOutputText {
  font-family: monospace;
  font-size: 12px;
  line-height: 1.42857143;
}

.ideOutputBorder {
  border: 0;
}

.ideFooterStatusBar {
  height: 18px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  border-top: 1px solid #e7e7e7;
  font-size: 11px;
  color: #777;
  overflow: hidden;
  background-color: #f5f5f5;
}

.ideTree {
  /*position: absolute; */
  /* width: 220px; */
  height: 100%;
  overflow: auto;
}

.ideEditorArea {
  /* padding-left: 220px; */
  /* height:100%; */
  overflow: auto;
}

.ideEditor {
  border-top: 1px solid #9f9f9f;
}

#ideAceNotVisible {
  background-color: #e7e7e7;
  /* height: 100%; */
}

#ideMsgNoFilesOpen {
  text-align: center;
  padding-top: 100px;
  color: #a9a9a9;
}

#ideMsgNotSignedIn {
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
}

.ideSplitterOverflowVisible {
  overflow: visible !important;
}

.ideSplitterFullHeight {
  height: 100%;
}

.ideTabs {
  /* margin-top: 2px;*/
  margin-bottom: 0;
  margin-left: 40px;
  padding: 0;
  /* background-color: #e8e8e8; */
}

.ideTabs li {
  list-style-type: none;
  border: 0;
  padding: 6px 8px;
  margin-right: 4px;
  background-color: #fff;
  cursor: pointer;
  opacity: .65;
  font-size: 0.75em;
  font-weight: bold;
  color: #bbb;
  height: 17px;
  line-height: 15px;
}

.ideTabs li.ideTabActive {
  opacity: 1 !important;
  border-color: #9f9f9f !important;
  color: #777;
}

.ideTabs li .remove {
    font-size: 7px;
    padding-left: 5px;
    color: #ccc;
}
.ideTabs li:hover .remove {
    color: #d9534f;
}

.ideTabs img {
  margin: 0 0 0 4px;
}

#ideNavBar {
  border-radius: 0;
  margin-bottom: 0;
  background-color: #f5f5f5;
}

.navbar-brand {
  padding-left: 15px;
  padding-top: 5px;
}

.ace_gutter {
  /* overwrite the ace gutter bg-color to match the bootstrap gray */
  background-color: #e7e7e7 !important;
  width: 40px !important; /* static width */
  border-right: 0 !important;;
}

#ace_editor {
  border-top: 0 !important;
  /* height: 100%; */
  width: 100%;
  /*padding-bottom: 40px; /* padding for the tab bar */
  position: absolute;
  top: 49px;
  bottom: 0px;
}


#ideRightPartOfMiddlePart {
  background-color: #e7e7e7;
}

/* Make sure the kendo-splitter is not visible in the treeview where it splits the project-name and the LibraryCtrl */
#ideTreeviewPartOfMiddlePart .k-splitbar {
  background-color: #ffffff;
}



.btn {
  border-radius: 0;
  border: 0;
  font-weight: 400;
  padding: 4px 6px;
  background-color: #ddd;
  color: #444;
  border-bottom: #aaa 2px solid;
  line-height: initial;
  opacity: 0.8;
}
.btn.active,
.btn.focus,
.btn:active,
.btn:focus,
.btn:hover,
.open > .dropdown-toggle.btn{
  opacity: 1;
}
.btn .glyphicon {
  padding: 0 4px;
}


/* Button Primary */
.btn-primary {
  background: #0064a6 !important;
  border-bottom: 2px solid #003f69 !important;
  color: rgba(255, 255, 255, 0.8) !important;
}

/* Button Info */
.btn-info {
  background: #17a2b8 !important;
  border-bottom: 2px solid #096d7d !important;
  color: rgba(255, 255, 255, 0.8) !important;
}

/* Button Success */
.btn-success {
  background: #3da956 !important;
  border-bottom: 2px solid #116524 !important;
  color: rgba(255, 255, 255, 0.8) !important;
}

/* Button Warning */
.btn-warning {
  color: #fff !important;
  background-color: #f0ad4e !important;
  border-color: #eea236 !important;
}

/* :disabled */
.btn.disabled,
.btn.disabled.active,
.btn.disabled.focus,
.btn.disabled:active,
.btn.disabled:focus,
.btn.disabled:hover,
.btn[disabled],
.btn[disabled].active,
.btn[disabled].focus,
.btn[disabled]:active,
.btn[disabled]:focus,
.btn[disabled]:hover,
fieldset[disabled] .btn,
fieldset[disabled] .btn.active,
fieldset[disabled] .btn.focus,
fieldset[disabled] .btn:active,
fieldset[disabled] .btn:focus,
fieldset[disabled] .btn:hover {
  opacity: 0.5;
}

/* Button small */
.btn-group-sm > .btn,
.btn-sm {
  font-size: 11px;
}


/* Override Kendo, to prevent bootstrap grid */
*[class^='col'] {
  box-sizing: border-box !important;
}



/* ioTests */

.modal-content {
    border-radius: 0;
}

.modal-dialog{
  overflow-y: initial !important
}
.modal-body{
  max-height: calc(100vh - 240px);
  overflow-y: auto;
}

#ioTestsAccordion .panel {
  margin: 0;
  border-radius: 0;
  border: 1px solid #fff;
}


/* Heading */
#ioTestsAccordion .panel-heading {
  border-radius: 0;
}

/* Processing */
#ioTestsAccordion .panel-heading.processing,
#ioTestsAccordion .panel-heading.processing a {
    background-color: #ddd;
    color: #bbb !important;
}
#ioTestsAccordion .panel-heading.processing .glyphicon:before {
  content: "\e030";
}

/* Pending */
#ioTestsAccordion .panel-heading.pending,
#ioTestsAccordion .panel-heading.pending a {
  background-color: #ccc;
  color: #aaa !important;
}
#ioTestsAccordion .panel-heading.pending .glyphicon:before {
  content: "";
}

/* Fail */
#ioTestsAccordion .panel-heading.fail,
#ioTestsAccordion .panel-heading.fail a {
  background: #ecc5c5;
  color: #ab5c5c !important;
}
#ioTestsAccordion .panel-heading.fail .glyphicon:before {
  content: "\e083";
}

/* Success */
#ioTestsAccordion .panel-heading.success,
#ioTestsAccordion .panel-heading.success a {
  background: #dceede;
  color: #77af87 !important;
}
#ioTestsAccordion .panel-heading.success .glyphicon:before {
  content: "\e084";
}

/* Ignored */
#ioTestsAccordion .panel-heading.ignored,
#ioTestsAccordion .panel-heading.ignored a {
  background: #f7f1b2;
  color: #c3ae2a !important;
}
#ioTestsAccordion .panel-heading.ignored .glyphicon:before {
  content: "\e086"
}

/* Unreachable */
#ioTestsAccordion .panel-heading.unreachable,
#ioTestsAccordion .panel-heading.unreachable a {
  background: #eee;
  color: #ddd !important;
}

/* Compile :: Fail */
#ioTestsAccordion .compileTest .panel-heading.fail,
#ioTestsAccordion .compileTest .panel-heading.fail a {
  background: #ec9494;
  color: #ab2228 !important;
}

/* Compile :: Success */
#ioTestsAccordion .compileTest .panel-heading.success,
#ioTestsAccordion .compileTest .panel-heading.success a {
    background: #a7d5e6;
    color: #5c89af !important;
}

/* disable click events */
#ioTestsAccordion .panel-heading.processing,
#ioTestsAccordion .panel-heading.processing a,
#ioTestsAccordion .panel-heading.pending,
#ioTestsAccordion .panel-heading.pending a,
#ioTestsAccordion .panel-heading.unreachable,
#ioTestsAccordion .panel-heading.unreachable a,
#ioTestsAccordion .panel-heading.ignored,
#ioTestsAccordion .panel-heading.ignored a {
  pointer-events: none;
  cursor: default;
}

#ioTestsAccordion .compileTest {
  margin-bottom: 15px;
}







#ioTestsAccordion .panel .panel-body {
  border-top: 0;
  background: #fafafa;
}

#ioTestsAccordion .inputOutputArea {
  width: 100%;
  max-width: 100%;
  min-height: 80px;
  background: #fff;
  border: 0;
  padding: 8px;
  color: #aaa;
  border-radius: 0;
}

#ioTestsAccordion .inputOutputArea.actualOutput {
  background: #f7e9e9;
  color: #d28484;
}
#ioTestsAccordion .inputOutputArea.expectedOutput {
  background: #e7f3e8;
  color: #7ebf84;
}

#ioTestsAccordion .areaLabel {
  color: #aaa;
  font-weight: 100;
}

.list-group-item,
.list-group-item:hover{
  z-index: auto !important;
}



/* - - - Footer - - - */
.ideFooter {
  overflow: hidden !important;
}

.ideFooter .userInput {
  position: absolute;
  bottom: 2px;
  left: 3px;
  right: 3px;
  background: #333;
  border-top: 1px solid #e7e7e7;
}
.ideFooter .userInput:after {
  content: "";
  clear: both;
}
.ideFooter .userInputField {
  box-sizing: border-box;
  float: left;
  width: 100%;
}
.ideFooter .userInputButton {
  position: absolute;
  right: 3px;
  top: 3px;
}

.ideFooter #idFooterUserInput {
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding-left: 50px;
  color: #aaa;
  background: none;
}
.ideFooter .userInputField .glyphicon {
  position: absolute;
  padding: 8px 12px;
  pointer-events: none;
  left: 0px;
  color: #666;
}




/**
 * Loading Animations
 */

/* - - Growing Spinner -- */
@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}

.spinner-grow {
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: text-bottom;
  background-color: #0064a6;
  border-radius: 50%;
  opacity: 0;
  animation: spinner-grow .9s linear infinite;
}

/** Spinninc Glyphicons **/
.gly-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}
@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
