/* - - Color Schema - - - */

/* - - Primary Colors - - - */
.color-blue {
  color: #0064a6;
}
.color-blue-80 {
  color: #3384b8;
}
.color-blue-60 {
  color: #66a2ca;
}
.color-blue-40 {
  color: #99c1dc;
}
.color-blue-20 {
  color: #cce0ed;
}

.bg-color-blue {
  background-color: #0064a6;
}
.bg-color-blue-80 {
  background-color: #3384b8;
}
.bg-color-blue-60 {
  background-color: #66a2ca;
}
.bg-color-blue-40 {
  background-color: #99c1dc;
}
.bg-color-blue-20 {
  background-color: #cce0ed;
}

.color-black {
  color: #000000;
}
.color-black-80 {
  color: #585858;
}
.color-black-60 {
  color: #87888a;
}
.color-black-40 {
  color: #b1b3b4;
}
.color-black-20 {
  color: #d9dadb;
}

.bg-color-black {
  background-color: #000000;
}
.bg-color-black-80 {
  background-color: #585858;
}
.bg-color-black-60 {
  background-color: #87888a;
}
.bg-color-black-40 {
  background-color: #b1b3b4;
}
.bg-color-black-20 {
  background-color: #d9dadb;
}

/** - - - Secondary Colors - - - **/
.color-green {
  color: #006633;
}
.color-green-80 {
  color: #33845c;
}
.color-green-60 {
  color: #66a385;
}
.color-green-40 {
  color: #99c2ad;
}
.color-green-20 {
  color: #cce0d6;
}

.color-dark-blue {
  color: #4a5d68;
}
.color-dark-blue-80 {
  color: #6f7d86;
}
.color-dark-blue-60 {
  color: #939ea4;
}
.color-dark-blue-40 {
  color: #b7bec3;
}
.color-dark-blue-20 {
  color: #dbdfe1;
}

.color-yellow-blue {
  color: #f0b600;
}
.color-yellow-blue-80 {
  color: #f3c533;
}
.color-yellow-blue-60 {
  color: #f6d366;
}
.color-yellow-blue-40 {
  color: #f9e299;
}
.color-yellow-blue-20 {
  color: #fcf0cc;
}

body {
  border: 1px solid #ccc;
}

/** - - - - - - - IDE Header - - - - - - - */
.ideHeader {
  width: 100%;
  /* height: 54px; /* set the header to the same height as the navbar */
  /*border: 1px solid #a9a9a9;*/
}

.ideHeader .navbar-form {
  margin: 13px 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

.ideHeader .navbar-form .nav-item {
  margin-left: 5px;
}

.ideHeader .projectTitle {
  font-size: 1.2em;
  font-weight: 900;
  color: #5697c2;
  margin: 10px 0;
  padding: 4px 6px;
  border: 1px solid #ccc;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ideHeader .projectTitle span.glyphicon {
  font-size: 0.8em;
}

.ideHeader .projectTitle.project-completed {
  background: #3da956 !important;
  color: rgba(255, 255, 255, 0.8) !important;
}

#ideNavBar {
  border-radius: 0;
  margin-bottom: 0;
  background-color: #f5f5f5;
}

.navbar-brand {
  padding-left: 15px;
  padding-top: 5px;
}

.dropdown {
  /* want a pointer for all the menus */
  /* we don't get it by default because we don't provide a href in the <a> element */
  cursor: pointer !important;
}

.unsavedChanges {
  border-color: #8b0000 !important ;
  color: #8b0000 !important;
}

/** - - - - - - - Main Content of IDE - - - - - - - */
#ideTabArea {
  overflow-y: hidden;
  overflow-x: hidden; /* if we have too many tabs, a scroll bar appears */
  padding: 0;
  height: 30px;
  margin-top: 20px;
}

#ideRightPartOfMiddlePart {
  background-color: #e7e7e7;
}

/* Make sure the kendo-splitter is not visible in the treeview where it splits the project-name and the LibraryCtrl */
#ideTreeviewPartOfMiddlePart .k-splitbar {
  background-color: #ffffff;
}

/* hide kendo-splitter between right-content and right-icon */
#ideRighterPartOfMiddlePart + .k-splitbar {
  display: none;
}

#ideRightestPartOfMiddlePart {
  background-color: #4a80a5;
}

.ideSplitterOverflowVisible {
  overflow: visible !important;
}

.ideSplitterFullHeight {
  height: 100%;
}

.ace_gutter {
  /* overwrite the ace gutter bg-color to match the bootstrap gray */
  background-color: #e7e7e7 !important;
  /* width: 50px !important;  static width */
  border-right: 0 !important;
}

#ace_editor {
  border-top: 0 !important;
  height: 100%;
  width: 100%;
}

/* Override Kendo, to prevent bootstrap grid */
*[class^='col'] {
  box-sizing: border-box !important;
}

/** - - - Tree View - - - */
.ideTree {
  height: 100%;
  overflow: auto;
}

#ideTreeViewProjectName {
  /* height: inherit; */
  /*border-top: 1px solid #a9a9a9;*/
  /*border-left: 1px solid #a9a9a9;*/
  /*border-right: 1px solid #a9a9a9;*/
  border-bottom: 1px solid #9f9f9f;
  /* width: 219px; /* must be the same as the tree-view element */
  padding-top: 10px;
  padding-left: 5px;
  color: #777777;
  font-size: 16px;
  /* float: left; */
  height: 29px;
  background-color: #e7e7e7;
  overflow: hidden;
  white-space: nowrap;
}

/* Variable Scope */
#ideVarScopePartOfMiddlePart {
  background-color: #fff;
}

/* Make sure the kendo-splitter is not visible between variable scope div and the editor */
#ideVarScopePartOfMiddlePart + .k-splitbar {
  display: none;
}

.varScope {
  width: 15px;
  border: 1px solid black;
  float: right;
}

.varScopeBlocks {
  overflow: hidden;
  background-color: #fff;
  direction: rtl;
  display: flex;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

/** - - - IDE Tabs - - - */
.ideTabs {
  margin-bottom: 0;
  margin-left: 47px;
  padding: 0;
}

.ideTabs-expanded {
  margin-left: 10.5%;
}

.ideTabs li {
  list-style-type: none;
  border: 0;
  padding: 10px 8px;
  margin-right: 4px;
  background-color: #fff;
  cursor: pointer;
  opacity: 0.65;
  font-size: 0.75em;
  font-weight: bold;
  color: #bbb;
  height: 30px;
  line-height: 15px;
}

.ideTabs li.ideTabActive {
  opacity: 1 !important;
  border-color: #9f9f9f !important;
  color: #777;
}

.ideTabs li.ideTabStatic {
  background: rgb(255, 53, 58);
  background: linear-gradient(90deg, rgba(255, 53, 58, 1) 0%, rgba(255, 94, 98, 1) 100%);
  color: #fff;
}
.ideTabs li.ideTabStatic .isStatic-icon {
  margin-right: 5px;
}
.ideTabs li.ideTabStatic .remove {
  color: #fff;
}

.ideTabs li .remove {
  font-size: 7px;
  padding-left: 5px;
  color: #ccc;
}
.ideTabs li:hover .remove {
  color: #d9534f;
}

.ideTabs img {
  margin: 0 0 0 4px;
}

/* - - - Main Area - - - */

.ideEditorImage {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 47px solid #e7e7e7;
  position: relative;
}
.ideEditorImage .image-src-field {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  max-width: none;
  width: 320px;
  text-align: center;
  border: 1px solid #eee;
  padding: 6px;
  font-size: 0.9em;
  color: #aaa;
}

#ideEditorAndConsole {
  height: calc(100% - 50px);
}

/* hide kendo scrollbar between console and ace editor */
#ideEditorAndConsole .k-scrollable {
  overflow: visible;
}

.ideEditor {
  overflow: hidden;
}

.ideEditorArea {
  height: 100%;
  overflow: hidden !important;
}

.ideEditor {
  border-top: 1px solid #9f9f9f;
}

#ideAceNotVisible {
  background-color: #e7e7e7;
  height: 100%;
}

#ideMsgNoFilesOpen {
  text-align: center;
  padding-top: 40px;
  color: #a9a9a9;
}

#ideMsgNotSignedIn {
  max-width: 300px;
  text-align: center;
  margin: 25px auto 0;
}

.console-spinner {
  position: absolute;
  right: 12px;
  bottom: 12px;
}
.spinner-grow {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: text-bottom;
  background-color: #666;
  border-radius: 50%;
  opacity: 0;
  animation: spinner-grow 1s linear infinite;
}
/* - - Growing Spinner -- */
@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}

/* - - - Console - - - */
.ideOutput {
  overflow: auto;
  background-color: #222;
  color: #aaa;
  padding: 10px;
  height: 100%;
  box-sizing: border-box;
}

.ideOutputText {
  font-family: monospace;
  font-size: 12px;
  line-height: 1.42857143;
}

.ideOutputBorder {
  border: 0;
}

.ideUserInput {
  position: relative;
  display: inline-block;
}
.ideUserInput input {
  border: 0;
  background: 0;
  outline: 0;
  font-weight: 900;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/** - - - Additional Tabs - - - */

.ideAdditionalTabs {
  writing-mode: vertical-rl;
  white-space: nowrap; 
  overflow-y: auto; 
}

.tab {
  text-orientation: mixed;
  padding-bottom: 10px;
  color: #eee;
  display: inline-block;
  width: 26px;
  line-height: 26px;
  font-weight: 500;
  cursor: pointer;
  font-size: 0.9em;
  border-bottom: 4px solid #d0d0d0;
}

.tab-description {
  border-top: 4px solid #d0d0d0;
}

.tab .glyphicon {
  margin-top: 5px;
  margin-bottom: 8px;
}

.tab:hover {
  text-decoration: none;
  color: #355b7f;
  background-color: #ffffff;
  filter: brightness(95%);
}

.tabClicked {
  color: #355b7f;
  background-color: #ffffff;
}

/** todo nachfolgenden css-Angaben in separates File **/

/* - - - Footer Status Bar - - - */
.ideFooterStatusBar {
  height: 18px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  border-top: 1px solid #e7e7e7;
  font-size: 11px;
  color: #777;
  overflow: hidden;
  background-color: #f5f5f5;
}

/** Spinninc Glyphicons **/
.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/** todo CSS-Angaben zu Test in separates File? */
/* ioTests */

.modal-content {
  border-radius: 0;
}

.modal-dialog {
  overflow-y: initial !important;
}
.modal-body {
  max-height: calc(100vh - 240px);
  overflow-y: auto;
}

.modalAccordion .panel {
  margin: 0;
  border-radius: 0;
  border: 1px solid #fff;
}

/* Heading */
.modalAccordion .panel-heading {
  border-radius: 0;
}

/* Processing */
.modalAccordion .panel-heading.processing,
.modalAccordion .panel-heading.processing a {
  background-color: #ddd;
  color: #bbb !important;
}
.modalAccordion .panel-heading.processing .glyphicon:before {
  content: '\e030';
}

/* Pending */
.modalAccordion .panel-heading.pending,
.modalAccordion .panel-heading.pending a {
  background-color: #ccc;
  color: #aaa !important;
}
.modalAccordion .panel-heading.pending .glyphicon:before {
  content: '';
}

/* Fail */
.modalAccordion .panel-heading.fail,
.modalAccordion .panel-heading.fail a {
  background: #ecc5c5;
  color: #ab5c5c !important;
}
.modalAccordion .panel-heading.fail .glyphicon:before {
  content: '\e083';
}

/* Success */
.modalAccordion .panel-heading.success,
.modalAccordion .panel-heading.success a {
  background: #dceede;
  color: #77af87 !important;
}
.modalAccordion .panel-heading.success .glyphicon:before {
  content: '\e084';
}

/* Ignored */
.modalAccordion .panel-heading.ignored,
.modalAccordion .panel-heading.ignored a {
  background: #f7f1b2;
  color: #c3ae2a !important;
}
.modalAccordion .panel-heading.ignored .glyphicon:before {
  content: '\e086';
}

/* Unreachable */
.modalAccordion .panel-heading.unreachable,
.modalAccordion .panel-heading.unreachable a {
  background: #eee;
  color: #ddd !important;
}

/* Compile :: Fail */
.modalAccordion .compileTest .panel-heading.fail,
.modalAccordion .compileTest .panel-heading.fail a {
  background: #ec9494;
  color: #ab2228 !important;
}

/* Compile :: Success */
.modalAccordion .compileTest .panel-heading.success,
.modalAccordion .compileTest .panel-heading.success a {
  background: #a7d5e6;
  color: #5c89af !important;
}

/* disable click events */
.modalAccordion .panel-heading.processing,
.modalAccordion .panel-heading.processing a,
.modalAccordion .panel-heading.pending,
.modalAccordion .panel-heading.pending a,
.modalAccordion .panel-heading.unreachable,
.modalAccordion .panel-heading.unreachable a,
.modalAccordion .panel-heading.ignored,
.modalAccordion .panel-heading.ignored a {
  pointer-events: none;
  cursor: default;
}

.modalAccordion .compileTest {
  margin-bottom: 15px;
}

.modalAccordion .panel .panel-body {
  border-top: 0;
  background: #fafafa;
}

.modalAccordion .inputOutputArea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 80px;
  background: #fff;
  border: 0;
  padding: 8px;
  color: #aaa;
  border-radius: 0;
  box-sizing: border-box;
}

.modalAccordion .inputOutputArea.actualOutput {
  background: #f7e9e9;
  color: #d28484;
}
.modalAccordion .inputOutputArea.expectedOutput {
  background: #e7f3e8;
  color: #7ebf84;
}

.modalAccordion .areaLabel {
  color: #aaa;
  font-weight: 100;
}

.list-group-item,
.list-group-item:hover {
  z-index: auto !important;
}

/* - - - Avatare - - - */
.test-result-avatar {
  max-width: 80px;
  display: block;
  margin: 0 auto;
}

/** Avatar und Chat Effects **/

.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.6s linear;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.6s, opacity 0.6s linear;
}
