.project-listing {
    list-style: none;
    border-bottom: 1px solid #eee;
    padding-top: 20px;
    padding-bottom: 20px;
}

.project-listing-planguage {
    float: right;
    margin-top: 20px;
    font-weight: bold;
    color: #5e5e5e;
}

.project-listing-metadata {
    color: #5e5e5e;
    font-size: 12px;
}

.project-listing-description {
    max-width: 650px;
}

/** - - - Badges - - - */
.badge {
    font-weight: 400;
}
.badge.badge-unanswered {
    color: #fff;
    background-color: #17a2b8;
}
.badge.badge-answered{
    color: #fff;
    background-color: #28a745;
}