.nice-font {
    font-weight: 200;
    font-size: 22px;
    line-height: 1.8;
}

.dark-font-color {
    color: #666;
}

.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}
