# NodeJS dependencies
node_modules

# Bower dependencies
app/bower_components

# tmp folders created by Grunt
.tmp
.sass-cache

# the folder created when running "grunt build" || use submodule instead
/distRepo/

# Ignore the profile pictures of users
app/images/users/profiles
app/images/projects/*

# Ignore everything in folder test/coverage which has generated coverage reports
test/coverage

# Ignore .idea
/.idea/

# Package.lock
.package-lock.json

development.js