<div class="chat-line-rating mt-4 pt-4 row">
    <div ng-hide="messageRated">
        <div class="col-12 col-md-6">
            <span class="rating-note text-muted">
                {{askUserText}}
            </span>
        </div>

        <div class="col-xs-12 col-md-6 text-right">
            <span class="star-rating" style="font-size: 14px">

                <a ng-repeat="(i, textRate) in grading"
                    href=""
                    title="{{textRate}}"
                    class="star star{{i+1}}"
                    ng-click="onRateSend(i+1)"
                    ng-mouseover="onRateHover(i+1)"
                    ng-mouseleave="onRateLeave(i+1)"
                >
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </a>
            </span>
        </div>
    </div>

    <div ng-show="messageRated" class="col-xs-12">
        <span class="text-success">Vielen Dank für dein Feedbback</span>
    </div>

</div>
