<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>Codeboard · the IDE for the classroom</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">

    <!-- Keep bootstrap out of vendor.css path to make icons show correctly -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="styles/vendor.css">

    <!-- the css for the treeview (should not be modified during build because of path to img) -->
    <link rel="stylesheet" type="text/css" href="components/angularTreeview/css/angular.treeview.css">


    <!-- css for KendoUI -->
    <link rel="stylesheet" type="text/css" href="bower_components/kendo-ui/styles/kendo.common.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/kendo-ui/styles/kendo.bootstrap.min.css">

    <link rel="stylesheet" href="styles/main.css">

  </head>
  <body ng-app="codeboardApp">

  <!--<div class="alert alert-warning alert-dismissible" role="alert" style="margin-bottom: 0px">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Important:</strong> on Wed 2015-12-16, from approximately 11 PM until 11.30 PM (UTC), Codeboard will undergo planned maintenance and might not be available.
  </div>-->

  <!-- [if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <div ng-view style="height: 100%;"></div>


  <!--[if lt IE 9]>
  <script src="bower_components/es5-shim/es5-shim.js"></script>
  <script src="bower_components/json3/lib/json3.min.js"></script>
  <![endif]-->


  <script src="scripts/vendor.js"></script>

  <!-- Angular UI select -->
  <script src="bower_components/angular-ui-select/dist/select.min.js"></script>
  <!-- Angular UI ngGrid -->
  <script src="bower_components/ng-grid/ng-grid-2.0.13.min.js"></script>



  <!-- Ace editor -->
  <script src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
  <script src="bower_components/ace-builds/src-min-noconflict/ext-language_tools.js"></script>
  <script src="bower_components/angular-ui-ace/ui-ace.min.js"></script>

  <script src="components/ngGrid/ngGridHeight.js"></script>

  <!-- Testing Kendo-UI -->
  <script src="bower_components/kendo-ui/js/kendo.core.min.js"></script>
  <script src="bower_components/kendo-ui/js/kendo.ui.core.min.js"></script>
  <script src="bower_components/kendo-ui/js/kendo.angular.min.js"></script>

  <!-- Angular Scroll-Glue (make output automatically scroll to bottom when adding text) -->
  <script src="bower_components/angular-scroll-glue/src/scrollglue.js"></script>


  <script src="scripts/scripts.js"></script>
  </body>
</html>
