<div ng-include="'partials/navbar.html'"></div>

<div class="container" style="margin-top: 40px">
  <div class="row">

    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Password reset</h3>
        </div>
        <div class="panel-body">
          <p>
            Enter the email associated with your Codeboard account.<br>
            We'll send you a new password to that address.
          </p>
          <form class="form" name="form" ng-submit="resetPassword(formData)">
            <div class="form-group" ng-class="{'has-success': server.resetSuccess && form.email.$valid && submitted,
                                               'has-error': (server.errorEmailUnknown || form.email.$invalid) && submitted }">
              <label>Email</label>
              <input type="email" name="email" ng-model="formData.email" class="form-control" required autofocus>
              <p class="help-block" ng-show="server.errorEmailUnknown && submitted">
                This email is not associated with a Codeboard account.
              </p>
            </div>
            <p class="text-danger" ng-show="resetFailed">{{formData.error}}</p>
            <button id="signup_create" type="submit" class="btn btn-primary" ng-disabled="isUnderSubmission">Reset password</button>
          </form>

          <div ng-show="server.resetSuccess" class="alert alert-success" role="alert">
            <strong>New password send!</strong><br>Check your email inbox and <a href="/signin">sign in</a>.
          </div>
          <div ng-show="server.errorUnknownFailure" class="alert alert-danger" role="alert">
            <strong>Problem resetting your password!</strong><br>Please try again. If the problem persists contact support.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <hr>
        Not registered yet? <a href="/signup" class="text-center">Sign up here</a>.<br>
        Need help? Contact <a href="mailto:support@codeboard.io" class="text-center">support@codeboard.io</a>
      </div>
  </div>

</div>
