<style>
  /* unvisited link */
  a:link {
    color: #000;
  }

  /* visited link */
  a:visited {
    color: #000;
  }

  /* mouse over link */
  a:hover {
    color: #000;
    text-decoration: none
  }

  /* selected link */
  a:active {
    color: #000;
  }
</style>

<div class="container" style="margin-top: 50px;">
  <div class="row">
    <h4><a href="/">Codeboard.io</a></h4>
    <div class="jumbotron">
      <h1>Error 404</h1>
      <h2>Sorry, the page you're looking for does not exist.</h2>
      <p style="margin-top: 40px">
        <a href="/" class="btn btn-default " role="button">Okay, take me home</a>
      </p>
    </div>
  </div>
</div>