<div ng-include="'partials/navbar.html'"></div>

<main>
  <div class="container-fluid blackboard">
    <div class="container">
      <div class="row" style="padding: 5em 0em;">

        <div class="col-md-2"></div>


        <!-- Authenticated user only lands on this page if he is not authorized for the admin = ltiUser -->
        <div class="col-md-8" ng-hide="!isAuth">
          <h2 class="text-center">Geh zurück in den Moodle-Kurs, um Codeboard zu verwenden</h2>
        </div>


        <div class="col-md-8" ng-hide="isAuth">

          <form role="form" name="loginFormNg" ng-submit="login(loginForm)" style="padding-top: 40px">

            <div class="form-group">
              <input type="text" name="username" ng-model="loginForm.username" class="form-control"
                     placeholder="Username or Email" required autofocus>
            </div>
            <div class="form-group">
              <input type="password" name="password" ng-model="loginForm.password" class="form-control"
                     placeholder="Password" required>
            </div>

            <div class="form-group">
              <p class="text-danger" ng-show="authFailed">Invalid username, email or password.</p>
              <button id="signInButton" type="submit" class="btn btn-primary" style="width: 100%">Sign in</button>
            </div>

          </form>
        </div>

        <div class="col-md-2"></div>

      </div>
    </div>
  </div>

</main>
