<div ng-include="'partials/navbar.html'"></div>

<div class="container" style="margin-top: 40px">
  <div class="row">

    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Sign up</h3>
        </div>
        <div class="panel-body">

          <div class="col-md-12">
            <form class="form" name="form" ng-submit="register(form)">

          <div class="form-group" ng-class="{ 'has-success': !serverError.userExists && form.username.$valid && submitted,
                                              'has-error': (serverError.userExists || form.username.$invalid) && submitted }">
            <label>Username*</label>
            <input type="text" name="username" ng-model="data.username" ng-pattern="/^[a-z0-9]+$/" ng-minlength="2" ng-maxlength="30" ng-change="serverError.userExists=false" class="form-control" required autofocus/>
            <p class="help-block" ng-show="form.username.$error.pattern && submitted">
              A username may only consist of lowercase letters and numbers.
            </p>
            <p class="help-block" ng-show="form.username.$error.minlength && submitted">
              A username must have 2 or more characters.
            </p>
            <p class="help-block" ng-show="form.username.$error.maxlength && submitted">
              A username must not have more than 30 characters.
            </p>
            <p class="help-block" ng-show="serverError.userExists && submitted">
              This username is already in use. Please choose another one.
            </p>
          </div>

          <div class="form-group" ng-class="{ 'has-success': !serverError.emailExists && form.email.$valid && submitted,
                                              'has-error': (serverError.emailExists || form.email.$invalid) && submitted }">
            <label>Email*</label>
            <input type="email" name="email" ng-model="data.email" ng-change="serverError.emailExists=false" class="form-control" required/>

            <p class="help-block" ng-show="form.email.$error.email && submitted">
              Please provide a valid email address.
            </p>
            <p class="help-block" ng-show="serverError.emailExists && submitted">
              This email is already in use. Please choose another one.
            </p>
          </div>

          <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                              'has-error': form.password.$invalid && submitted }">
            <label>Password*</label>
            <input type="password" name="password" ng-model="data.password" class="form-control" ng-minlength="4" required/>
            <p class="help-block" ng-show="form.password.$error.minlength && submitted">
              Password must be at least 4 characters.
            </p>
          </div>

          <div class="form-group" ng-class="{ 'has-success': form.password.$valid && data.password === data.passwordConfirm && submitted,
                                              'has-error': (form.password.$invalid || data.password !== data.passwordConfirm) && submitted }">
            <label>Confirm password*</label>
            <input type="password" name="passwordConfirm" ng-model="data.passwordConfirm" class="form-control" ng-minlength="4" required/>
            <p class="help-block" ng-show="form.passwordConfirm.$error.minlength && submitted">
              Password must be at least 4 characters.
            </p>
            <p class="help-block" ng-show="!(data.password === data.passwordConfirm) && submitted">
              The passwords do not match. Please enter again.
            </p>
          </div>

          <div class="alert alert-danger" role="alert" ng-show="serverError.hasErrors && submitted">
            <strong>Server responded:</strong> {{serverError.errorMsg}}
          </div>

          <button id="signup_create" type="submit" class="btn btn-primary" ng-disabled="currentlySubmitting">Create account</button>
        </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <hr>
      Already have an account? <a href="/signin" class="text-center">Sign in here</a>.
    </div>
  </div>

</div>
