<div ng-include="'partials/navbar.html'"></div>


<div class="container">

  <div class="row">
    <div class="col-md-8 col-md-offset-3">
      <h2>{{user.username}}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <img src="{{user.imageUrl}}" alt="" style="width: 150px"/>
    </div>
    <div class="col-md-4">
      <p ng-show="user.name">
        <label>Name</label>
        <br>
        {{user.name}}
      </p>
      <p ng-show="user.email">
        <label>Email</label>
        <br>
        <a href="mailto:{{user.email}}">{{user.email}}</a>
      </p>
      <p ng-show="user.url">
        <label>Web</label>
        <br>
        <a href="{{user.url}}">{{user.url}}</a>
      </p>
    </div>
    <div class="col-md-3">
      <p ng-show="user.location">
        <label>Located in</label>
        <br>
        {{user.location}}
      </p>
      <p ng-show="user.institution">
        <label>Institution</label>
        <br>
        {{user.institution}}
      </p>
    </div>
  </div>

  <hr>

    <div class="row" ng-show="currentUserIsSelf">
      <div class="col-md-12">
        <a class="btn btn-success" id="userProjects_createProject" href="/projects/new">Create new project</a>
        <a class="btn btn-info" id="userProjects_createCourse" href="/courses/new">Create new course</a>
        <a class="btn btn-default" ng-href="/users/{{user.username}}/settings">Edit user settings</a>
      </div>
    </div>

  <div class="row" ng-show="ownerSet.length > 0">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Owns projects</h1>
      </div>


      <div class="panel panel-default" ng-repeat="prj in ownerSet">
        <div class="panel-heading">
          <h3 class="panel-title"><a ng-href="/projects/{{prj.id}}/summary">{{prj.projectname}}</a></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <label>Description</label>
              <p style="white-space: pre-line;">{{prj.description}}</p>
            </div>
            <div class="col-md-2 col-md-offset-1">
              <label>Language</label>
              <p>{{prj.language}}</p>
            </div>
            <div class="col-md-2">
              <label>Created</label>
              <p>{{prj.createdAt | date}}</p>
            </div>
          </div>
          <div class="row" ng-show="prj.isPrivate">
            <div class="col-md-12">
              <label>Access control</label>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-disabled="true" ng-checked="prj.isPrivate"> Private project
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>Owners</label>
              <p>
                <span ng-repeat="owner in prj.ownerSet"><a href="/users/{{owner.username}}">{{owner.username}}</a> </span>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>Share</label>
              <p>
                <a href="/projects/{{prj.id}}">https://codeboard.io/projects/{{prj.id}}</a>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <a class="btn btn-default" href="/projects/{{prj.id}}" role="button">Open in IDE</a>
              <div class="btn-group pull-right" role="group">
                <a ng-show="currentUserIsSelf" href="/projects/{{prj.id}}/settings" role="button" class="btn btn-default" title="Edit project settings"><span class="glyphicon glyphicon-wrench"></span></a>
                <a ng-show="currentUserIsSelf" href="/projects/{{prj.id}}/stats" role="button" class="btn btn-default" title="Show project statistics"><span class="glyphicon glyphicon-stats"></span></a>
                <a ng-show="currentUserIsSelf" href="/projects/{{prj.id}}/userprojects" role="button" class="btn btn-default" title="Show user versions of project"><span class="glyphicon glyphicon-user"></span></a>
                <a ng-show="currentUserIsSelf" href="/projects/{{prj.id}}/submissions" role="button" class="btn btn-default" title="Show project submissions"><span class="glyphicon glyphicon-education"></span></a>
                <a ng-show="currentUserIsSelf" href="/projects/{{prj.id}}/helpRequests" role="button" class="btn btn-default" title="Show project help requests"><span class="glyphicon glyphicon-bell"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-show="userSet.length > 0">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Uses projects</h1>
      </div>


      <div class="panel panel-default" ng-repeat="prj in userSet">
        <div class="panel-heading">
          <h3 class="panel-title"><a ng-href="/projects/{{prj.id}}/summary">{{prj.projectname}}</a></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <label>Description</label>
              <p>{{prj.description}}</p>
            </div>
            <div class="col-md-2 col-md-offset-1">
              <label>Language</label>
              <p>{{prj.language}}</p>
            </div>
            <div class="col-md-2">
              <label>Created</label>
              <p>{{prj.createdAt | date}}</p>
            </div>
          </div>
          <div class="row" ng-show="prj.isPrivate">
            <div class="col-md-12">
              <label>Access control</label>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-disabled="true" ng-checked="prj.isPrivate"> Private project
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>Owners</label>
              <p>
                <span ng-repeat="owner in prj.ownerSet"><a href="/users/{{owner.username}}">{{owner.username}}</a> </span>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>Share</label>
              <p>
                <a href="https://codeboard.io/projects/{{prj.id}}">https://codeboard.io/projects/{{prj.id}}</a>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <!--<a class="btn btn-default" href="/projects/{{prj.id}}/summary" role="button">Show summary</a>-->
              <a class="btn btn-default" href="/projects/{{prj.id}}" role="button">Open in IDE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div> <!-- end of container -->
