<div class="navbar-border" ng-include="'partials/navbar.html'"></div>

<div class="container" style="margin-top: 40px">
  <div class="row">

    <div class="col-md-8 col-md-offset-2">

      <h3>Settings for <a ng-href="/courses/{{courseId}}/summary">Course {{courseId}}</a></h3>

      <div class="panel panel-default" style="margin-top: 30px;">
        <div class="panel-heading">
          <h3 class="panel-title">Configure settings</h3>
        </div>
        <div class="panel-body">

          <form role="form" name="form" ng-submit="save(form)" style="margin-bottom: 30px">
            <div class="form-group">
              <label for="coursename">Course name</label>
              <input type="text" class="form-control" id="coursename" ng-model="data.coursename" required>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" id="description" rows="3" ng-model="data.description"></textarea>
            </div>

            <div class="form-group">
              <label for="description">Context ID (Moodle ID)</label>
              <input type="text" class="form-control" id="contextId" ng-model="data.contextId">
            </div>

            <div class="form-group">
              <label>Course Options</label>

              <div class="form-group row">
                <label class="col-sm-4 col-form-label" style="font-weight: normal">User Disabled Actions</label>
                <div class="col-sm-8">
                  <div class="panel panel-default">
                    <div class="panel-body">
                        <span ng-repeat="e in actions"
                              class="label label-default"
                              title="{{e.desc}}"
                              ng-class="{'label-danger': actionsSelected.indexOf(e.name) > -1}"
                              style="margin: 3px ; font-size: 12px; font-weight: 400; display: inline-block"
                              ng-click="toggleSelection(e.name)">
                          {{e.name}}
                        </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="description">Course Projects</label>
              <p>Please separate project IDs with "|" as the delimiter. This list defines the referenced projects.</p>
              <textarea class="form-control" id="projects" rows="3" ng-model="formatedProjectList"></textarea>
            </div>

            <div class="form-group row">
              <div class="pt-4 col-sm-12">
                <button type="submit" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-default" ng-click="discardChanges()">Discard changes</button>
                <button type="button" class="btn btn-danger pull-right" ng-click="openDeletionModal()">Delete course
                </button>
              </div>
            </div>

          </form>

          <div ng-show="server.saveSuccess" class="alert alert-success" role="alert">
            <strong>Changes saved!</strong> Your changes have been saved successfully. {{server.info}}
          </div>
          <div ng-show="server.saveFailure" class="alert alert-danger" role="alert">
            <strong>Changes not saved!</strong> Problem while saving your changes. Check your data and try again. {{server.error}}
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- the following is for the deletion modal -->
  <div>
    <script type="text/ng-template" id="DeletionModalContent.html">
      <div class="modal-header">
        <h3 class="modal-title">Delete course</h3>
      </div>
      <div class="modal-body">
        <p class="lead">
          Do you really want to delete this course?<br>
          Deletion can not be undone.
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" ng-click="ok()">Delete course</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      </div>
    </script>
  </div>
</div>


