<div id="ide-tab-test" class="tab-body" ng-controller="ideNavBarRightTestCtrl">

    <h1 class="ide-tab-title ide-tab-title-test pb-3">Überprüfe deine Lösung</h1>

    <!-- Avatar with successMessage -->
    <div ng-show="(showAvatar)">
        <ul class="list-unstyled">
            <li class="clear chat-line my-4" ng-class="{'fadeOut': avatarFade, 'fadeIn': avatarFade}">
                <chat-line alignment="left" author="Roby" avatar="{{getAvatar()}}" allowRating="true">
                    <chat-line-simple>
                        <div class="message pb-1 mb-0 text-gray-700" ng-bind-html="avatarSays"></div>
                    </chat-line-simple>
                </chat-line>
            </li>
        </ul>
    </div>

    <!-- Accordion with ioTests -->
    <div class="panel-group modalAccordion" id="ioTestsAccordion" nh-hide="disableTesting">
        <div ng-repeat="test in tests" class="panel panel-default {{test.method}}" ng-hide="(test.method === 'compileTest' && test.status === 'success')">
            <div class="panel-heading {{test.status}}">
                <a data-target="#ioTest{{$index}}" data-toggle="collapse" data-parent="#ioTestsAccordion" ng-class="{'collapsed': (test.open)}">
                    <span class="title" title="{{test.name}}">{{test.name}}</span>
                    <span ng-class="{'gly-spin': (test.status === 'processing')}" class="pull-right flag glyphicon {{test.status}}" aria-hidden="true"></span>
                </a>
            </div>

            <div id="ioTest{{$index}}" class="panel-collapse collapse" ng-class="{'in': (test.open)}">
                <div ng-include="getTestMethodOutput(test.method)"></div>
            </div>
        </div>
    </div>

    <div ng-show="disableTesting">
        <p class="text-errror">
            Es ist ein Fehler aufgetreten. Bitte wende dich an den Kursleiter
        </p>
    </div>

    <button ng-hide="inProgress" class="btn btn-success btn-100" ng-click="doTheIoTesting()" ng-disabled="disableTesting">
        <span class="glyphicon glyphicon-check"></span>
        <span ng-bind="ioTestButtonText"></span>
    </button>

    <button ng-if="!isActionHidden('help')" ng-show="(!correctSolution)" class="btn btn-info btn-100" ng-disabled="disabledActions.help" ng-click="navBarClick('help')" title="Hilfe anfordern">
        <span class="glyphicon glyphicon-question-sign"></span> Ich brauche Hilfe
    </button>

    <button ng-if="!isActionHidden('submit')" ng-show="(correctSolution && uiSettings.showSubmissionBtn)" ng-disabled="disabledActions.submit || uiSettings.disableSubmissionBtn" class="btn btn-primary btn-100" ng-click="navBarClick('submit')" title="Lösung abgeben">
        <span  class="glyphicon glyphicon-send"></span> <span class="hidden-xs" ng-hide="uiSettings.disableSubmissionBtn">Submit</span> <span class="hidden-xs" ng-show="uiSettings.disableSubmissionBtn">Aufgabe bereits erfolgreich gelöst</span>
    </button>
</div>




<!---- Each TestMethod has its on template: ---->

<!-- ioTest -->
<div>
    <script type="text/ng-template" id="ideIoTestResult.html">
        <div class="panel-body">

            <ul class="list-unstyled">
                <li class="clear chat-line my-4" ng-class="{'fadeOut': avatarFade, 'fadeIn': avatarFade}">
                    <chat-line alignment="left" author="Roby" avatar="{{(test.status === 'success') ? 'thumbUp' : 'worried'}}">
                        <chat-line-simple ng-class="{ 'chat-line-fail': (test.status === 'fail')  }">
                            <div class="message pb-1 mb-0 text-gray-700 chat-line-fail" ng-bind-html="test.result.note"></div>
                        </chat-line-simple>
                    </chat-line>
                </li>
            </ul>

            <div class="form-group" ng-hide="(!test.input || 0 === test.input.trim.length)">
                <label class="areaLabel">Input:</label>
                <textarea class="inputOutputArea teachersInput" disabled>{{test.input}}</textarea>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label class="areaLabel">Erwartetes Verhalten:</label>
                        <textarea class="inputOutputArea expectedOutput" disabled>{{test.expectedOutput}}</textarea>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label class="areaLabel">Effektives Verhalten:</label>
                        <textarea class="inputOutputArea actualOutput" disabled>{{test.output}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>

<!-- compileTest -->
<div>
    <script type="text/ng-template" id="ideCompileTestResult.html">
        <div class="panel-body">


            <ul class="list-unstyled d-none">
                <li class="clear chat-line my-4" ng-class="{'fadeOut': avatarFade, 'fadeIn': avatarFade}">
                    <chat-line alignment="left" author="Compile Message Service" avatar="worried">
                        <chat-line-card card-title="Fehler beim Kompilieren" card-type="error">
                            {{test.result[0].note || "Dein Code besitzt leider noch Komprimierungs-Fehler. Versuche die untenstehende Fehlermeldung zu verstehen. Wenn du nicht mehr weiterkommst, nutze die Chat-Funkion, um Hilfe zu verlangen."}}
                            <chat-line-rating message-id="compilationErrorId" on-rate-message="onMessageRating(id, rating)" />
                        </chat-line-card>
                    </chat-line>
                </li>
            </ul>

            <div class="form-group" ng-hide="(test.status === 'success')">
                <label class="areaLabel">Output:</label>
                <textarea class="inputOutputArea teachersInput" disabled>{{test.output}}</textarea>
            </div>

        </div>
    </script>
</div>
<!---- End of TestMethod templates ---->
