<div class="tab-body ide-tab-project-description" ng-controller="ideNavBarTipsCtrl">

    <h1 class="modal-title">Wie kann ich dir helfen?</h1>

    <p>{{helpIntro}}</p>

    <div class="panel-group modalAccordion" id="helpTipsAccordion">
        <div ng-repeat="tip in tips" class="panel panel-default">
            <div class="panel-heading">
                <a data-target="#tip{{$index}}" data-toggle="collapse" data-parent="#helpTipsAccordion">
                    <span class="title" title="{{tip.name}}">{{tip.name}}</span>
                </a>
            </div>

            <div id="tip{{$index}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>{{tip.note}}</p>
                </div>
            </div>
        </div>
    </div>
</div>