
<div id="ide-tab-test" class="tab-body" ng-controller="ideTabTestCtrl">

    <h1 class="ide-tab-title ide-tab-title-test" ng-bind="title"></h1>

    <p class="ide-tab-test-description">{{textBefore}}</p>

    <!-- Accordion with ioTests -->
    <div class="panel-group modalAccordion" id="ioTestsAccordion">
        <div ng-repeat="test in tests" class="panel panel-default {{test.method}}">
            <div class="panel-heading {{test.status}}">
                <a data-target="#ioTest{{$index}}" data-toggle="collapse" data-parent="#ioTestsAccordion">
                    <span class="title" title="{{test.name}}">{{test.name}}</span>
                    <span ng-class="{'gly-spin': (test.status === 'processing')}" class="pull-right flag glyphicon {{test.status}}" aria-hidden="true"></span>
                </a>
            </div>

            <div id="ioTest{{$index}}" class="panel-collapse collapse">
                <div ng-include="getTestMethodOutput(test.method)"></div>
            </div>
        </div>
    </div>

    <button ng-show="inProgress" class="btn btn-default btn-100">
        Test beenden (ToDo)
    </button>

    <button ng-hide="inProgress" class="btn btn-success btn-100" ng-click="doTheIoTesting()">
        <span class="glyphicon glyphicon-check"></span>
        <span ng-bind="ioTestButtonText"></span>
    </button>

    <button ng-show="(testResult !== 1)" class="btn btn-info btn-100" ng-disabled="disabledActions.help" ng-click="closeModal(); helpAfterTest()" title="Hilfe anfordern">
        <span class="glyphicon glyphicon-question-sign"></span> Ich brauche Hilfe
    </button>
</div>




<!---- Each TestMethod has its on template: ---->

<!-- ioTest -->
<div>
    <script type="text/ng-template" id="ideIoTestResult.html">
        <div class="panel-body">
            <p ng-show="!test.result.pass" class="failureReason text-danger"><b>Fehler:</b> {{test.result.note}}</p>
            <p ng-show="test.result.pass" class="successNote text-success"><b>Erfolgreich:</b> {{test.result.note}}</p>

            <div class="form-group">
                <label class="areaLabel">Input:</label>
                <textarea class="inputOutputArea teachersInput" disabled>{{test.input}}</textarea>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label class="areaLabel">Erwarteter Output:</label>
                        <textarea class="inputOutputArea expectedOutput" disabled>{{test.result.outputText ? test.result.outputText : test.result.output}}</textarea>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label class="areaLabel">Effektiver Output:</label>
                        <textarea class="inputOutputArea actualOutput" disabled>{{test.output}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>

<!-- compileTest -->
<div>
    <script type="text/ng-template" id="ideCompileTestResult.html">
        <div class="panel-body">

            <p ng-show="(test.status === 'success')" class="successNote text-success"><b>Keine Fehler aufgetreten: </b>Dein Code konnte erfolgreich kompiliert werden</p>

            <div ng-show="(test.status === 'fail')">
                <p class="failureReason text-danger"><b>Fehler aufgetreten: </b></p>
                <ul class="failureReason text-danger">
                    <li ng-repeat="res in test.result">
                        {{res.note}}
                    </li>
                </ul>
            </div>

            <div class="form-group" ng-hide="(test.status === 'success')">
                <label class="areaLabel">Output:</label>
                <textarea class="inputOutputArea teachersInput" disabled>{{test.output}}</textarea>
            </div>

        </div>
    </script>
</div>
<!---- End of TestMethod templates ---->