<div id="ide-tab-test" class="tab-body" ng-controller="ideNavBarRightTestCtrl">

    <h1 class="ide-tab-title ide-tab-title-test pb-3" ng-bind="title"></h1>

    <!-- Avatar with successMessage -->
    <div ng-show="(showAvatar)">
        <div class="chat row py-4 row-vertical-centered">
            <div class="col-md-3">
                <img class="test-result-avatar" ng-class="{'fadeOut': avatarFade, 'fadeIn': avatarFade}" ng-src="{{getAvatar()}}" alt="Kompilierungsfehler aufgetreten"/>
            </div>
            <div class="col-md-9 px-4">
                <ul class="chat p-0 m-0">
                    <li class="chat-line">
                        <div class="chat-line-item chat-line-avatar chat-line-success left w-100">
                            <div class="message pb-1 mb-0 text-gray-700" ng-bind-html="avatarSays"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Just an example, todo delet -->
    <ul class="list-unstyled">
        <li class="clear chat-line my-4">
            <chat-line alignment="left" author="Compile Message Service" avatar="/images/avatars/Avatar_RobyCoder_RZ_worried_2020.svg" allowRating="true">
                <chat-line-card card-title="Fehler beim Kompilieren" card-type="error">
                    Dieser Fehler tritt auf, wenn im Code etwas fehlt. Oftmals wird dies durch ein fehlendes Semikolon oder durch schliessende Klammern verursacht.
                    <chat-line-rating on-rate-message="onMessageRating(id, rating)" />
                </chat-line-card>
            </chat-line>
        </li>
    </ul>


    <!-- Accordion with ioTests -->
    <div class="panel-group modalAccordion" id="ioTestsAccordion">
        <div ng-repeat="test in tests" class="panel panel-default {{test.method}}" ng-hide="(test.method === 'compileTest' && test.status === 'success')">
            <div class="panel-heading {{test.status}}">
                <a data-target="#ioTest{{$index}}" data-toggle="collapse" data-parent="#ioTestsAccordion" ng-class="{'collapsed': (test.open)}">
                    <span class="title" title="{{test.name}}">{{test.name}}</span>
                    <span ng-class="{'gly-spin': (test.status === 'processing')}" class="pull-right flag glyphicon {{test.status}}" aria-hidden="true"></span>
                </a>
            </div>

            <div id="ioTest{{$index}}" class="panel-collapse collapse" ng-class="{'in': (test.open)}">
                <div ng-include="getTestMethodOutput(test.method)"></div>
            </div>
        </div>
    </div>

<!-- todo
    <button ng-show="inProgress" class="btn btn-default btn-100">
        Test beenden
    </button>-->

    <button ng-hide="inProgress" class="btn btn-success btn-100" ng-click="doTheIoTesting()" ng-disabled="disableTesting">
        <span class="glyphicon glyphicon-check"></span>
        <span ng-bind="ioTestButtonText"></span>
    </button>

    <button ng-if="!isActionHidden('help')" ng-show="(!correctSolution)" class="btn btn-info btn-100" ng-disabled="disabledActions.help" ng-click="navBarClick('help')" title="Hilfe anfordern">
        <span class="glyphicon glyphicon-question-sign"></span> Ich brauche Hilfe
    </button>

    <button ng-if="!isActionHidden('submit')" ng-show="(correctSolution && uiSettings.showSubmissionBtn)" ng-disabled="disabledActions.submit || uiSettings.disableSubmissionBtn" class="btn btn-primary btn-100" ng-click="navBarClick('submit')" title="Lösung abgeben">
        <span  class="glyphicon glyphicon-send"></span> <span class="hidden-xs" ng-hide="uiSettings.disableSubmissionBtn">Submit</span> <span class="hidden-xs" ng-show="uiSettings.disableSubmissionBtn">Aufgabe bereits erfolgreich gelöst</span>
    </button>
</div>




<!---- Each TestMethod has its on template: ---->

<!-- ioTest -->
<div>
    <script type="text/ng-template" id="ideIoTestResult.html">
        <div class="panel-body">

            <div class="chat row pb-4 row-vertical-centered">
                <div class="col-md-3">
                    <img class="test-result-avatar" ng-show="(test.status === 'success')" src="../../../images/avatars/Avatar_RobyCoder_RZ_thumb-up_2020.svg" alt="Test erfolgreich bestanden" />
                    <img class="test-result-avatar" ng-show="(test.status === 'fail')" src="../../../images/avatars/Avatar_RobyCoder_RZ_worried_2020.svg" alt="Deine Lösung stimmt noch nicht ganz" />
                </div>
                <div class="col-md-9 px-4">
                    <ul class="chat p-0">
                        <li class="chat-line">
                            <div class="chat-line-item chat-line-avatar left float-left w-100" ng-class="{ 'chat-line-fail': (test.status === 'fail')  }">
                                <div class="message pb-1 mb-0 text-gray-700" ng-bind-html="test.result.note"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="form-group" ng-hide="(!test.input || 0 === test.input.trim.length)">
                <label class="areaLabel">Input:</label>
                <textarea class="inputOutputArea teachersInput" disabled>{{test.input}}</textarea>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label class="areaLabel">Erwartetes Verhalten:</label>
                        <textarea class="inputOutputArea expectedOutput" disabled>{{test.expectedOutput}}</textarea>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label class="areaLabel">Effektives Verhalten:</label>
                        <textarea class="inputOutputArea actualOutput" disabled>{{test.output}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>

<!-- compileTest -->
<div>
    <script type="text/ng-template" id="ideCompileTestResult.html">
        <div class="panel-body">

            <div class="chat row pb-4 row-vertical-centered">
                <div class="col-md-3 vcenter">
                    <img class="test-result-avatar" src="../../../images/avatars/Avatar_RobyCoder_RZ_worried_2020.svg" alt="Kompilierungsfehler aufgetreten" height="56" width="56"/>
                </div>
                <div class="col-md-9 px-4 vcenter">
                    <ul class="chat p-0" ng-class="{ 'test-succeed': (test.status === 'success') , 'test-failed': (test.status === 'fail')  }">
                        <li class="chat-line">
                            <div class="chat-line-item chat-line-avatar chat-line-fail left w-100">
                                <div class="message pb-1 mb-0 text-gray-700">{{test.result[0].note || "Dein Code besitzt leider noch Komprimierungs-Fehler. Versuche die untenstehende Fehlermeldung zu verstehen. Wenn du nicht mehr weiterkommst, nutze die Chat-Funkion, um Hilfe zu verlangen."}}</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="form-group" ng-hide="(test.status === 'success')">
                <label class="areaLabel">Output:</label>
                <textarea class="inputOutputArea teachersInput" disabled>{{test.output}}</textarea>
            </div>

        </div>
    </script>
</div>
<!---- End of TestMethod templates ---->
