<div class="tab-body ide-tab-help ide-tab-chat" ng-controller="CodingAssistantMainCtrl" id="chat-wrapper">
    <h1 class="modal-title">Hier findest du die Code-Erklärungen</h1>

    <div class="conversation">
        <chat chat-lines="chatLines" class="px-4" cursor-position="cursorPosition">
            <before-chat ng-show="showNoCodeMessage">
                <li class="clear chat-line my-4 clearfix text">
                    <chat-line author="Roby" avatar-size="" alignment="left">
                        <chat-line-simple>
                            <p class="mb-0">Bitte öffne eine Java-Datei oder schreibe Code, damit ich den Coder erklären kann</p>
                        </chat-line-simple>
                    </chat-line>
                </li>
            </before-chat>
        </chat>
    </div>
</div>
